<%=link_to "new checkin task", new_checkin_path%>

<table>
  <tr>
    <td>Name</td>
    <td>Latest Checkin Time</td>
    <td>Latest Likes</td>
    <td>Latest Talks</td>
    <td>Sentiment Score</td>
    <td>YouTube Teaser</td>



</table>
