/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#table-header {
  background: #D0D0D0;
}

#user-nav {
  background-color: gray;
  height: 100px;
  border: 2px solid black;
  border-radius: 5px;
  width: 25%;
  position: relative;
}

#fb-link {
  position: absolute;
  top: 33%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: white;
}

#fb-link a{
  text-decoration: none;
  color: white;
  font-size: 25px;
}

#fb-link a:hover {
  font-weight: bold;
}